<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business information</title>
</head>
<body>
  <p><a href="{{url_for('index')}}">Back to Home</a></p>
  <h1>Business information</h1>
  <p><a href="{{url_for('covid_19', business_id=busi_id) }}"> Covid-19 Information </a></p>
  <p><a href="{{url_for('orders', user_id=user_id_,business_id=busi_id) }}"> All Orders </a></p>
  <p><a href="{{url_for('tips', user_id=user_id_,business_id=busi_id) }}"> All tips </a></p>
  <p> Business ID: {{data[0]}} </p>
  <p> Business name: {{data[1]}} </p>
  <p> Business category: {{data[2]}} </p>
  <p> Business hours: {{data[3]}} </p>
  <p> Average star rating has received: {{data[4]}} </p>
  <p> Street address: {{data[5]}}, {{data[6]}}, {{data[7]}}, {{data[8]}} </p>
</body>
</html>