<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for Businesses</title>
</head>
<body>
    <h1>Search for Businesses</h1>
    <form method = "post">
        <label for="business name">Business Name:</label>
        <input type = "string" name="business name">
        <label for="star rating">Star Rating:</label>
        <input type = "float" name="star rating">
        <label for="city">City:</label>
        <input type = "string" name="city">
        <label for="state">State:</label>
        <input type = "string" name="state">
        <input type = "submit" value ="search"> {{msg}}
    </form>

</body>
</html>