<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Search for Businesses</h1>
    <form method = "post">
        <label for="business name">Business Name:</label>
        <input type = "business name" name="business name">
        <label for="star rating">Star Rating:</label>
        <input type = "star rating" name="star rating">
        <label for="street address">Street Address:</label>
        <input type = "street address" name="street address">
        <input type = "submit" value ="search"> {{msg}}
    </form>

</body>
</html>