<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business found</title>
</head>
<body>
    <h1>Business found</h1>
    <p><b><font size="5">{{msg}} results have been found.</font></b></p>
    {% for n in data %}
        <p>Business id: <a href="{{ url_for('busi_info',business_id=n[0]) }}"> {{n[0]}} </a></p>
        <p>Business name: {{n[1]}}</p>
        <p>Category: {{n[2]}}</p>
        <p>Rating stars: {{n[3]}}</p>
        <p>Address: {{n[4]}}</p>
        <p>City: {{n[5]}}</p>
        <p>State: {{n[6]}}</p>
        <p>-------------------------------------------------------------------------------------</p>
    {% endfor %}

</body>
</html>