<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tips</title>
</head>
<body>
  <h1>Tips History</h1>
    <div>
    {% for n in data %}
        <p>User ID: {{n[0]}}</p>
        <p>Business ID: <a href="{{ url_for('busi_info',business_id=n[1]) }}"> {{n[1]}} </a></p>
        <p>Date: {{n[2]}}</p>
        <p>Text Message: {{n[3]}}</p>
        <p>-------------------------------------------------------------------------------------</p>
    {% endfor %}
  </div>
</body>
</html>